<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/pygments.css"/>
</head>
<body>
<header>
<nav>
<ul>
    <li><a href="http://demo.clab.cs.cmu.edu/cdec/cdec-{{site.current_version}}.tar.gz"><img src="{{site.baseurl}}/img/download-{{site:current_version}}.png" alt "download current version"></a></li>
    <li><a href="{{site.baseurl}}/guide">User guide</a></li>
    <li><a href="{{site.baseurl}}/concepts">Concepts</a></li>
    <li><a href="{{site.baseurl}}/developers">Developers</a></li>
    <li><a href="http://github.com/redpony/cdec"><img src="{{site.baseurl}}/img/github.png" alt="github.com" style="height: 2em"/></a></li>
</ul>
</nav>
<h1><a href="{{site.baseurl}}/">cdec</a></h1>
</header>
