<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/pygments.css"/>
</head>
<body>
<header>
<nav>
<ul>
    <li><a href="/guide">User guide</a></li>
    <li><a href="/documentation">Documentation</a></li>
    <li><a href="/developers">Developers</a></li>
    <li><a href="http://github.com/redpony/cdec"><img src="{{site.baseurl}}/img/github.png" alt="github.com" style="height: 2em"/></a></li>
</ul>
</nav>
<h1><a href="{{site.baseurl}}/">cdec</a></h1>
</header>
